DB_URL=
DB_TYPE=postgres
SUPABASE_URL=
AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_DEFAULT_REGION=

REDIS_URL=redis://localhost:6379

# SQS — produção (AWS real, us-east-2)
# SQS_QUEUE_URL=https://sqs.us-east-2.amazonaws.com/053169953310/order-requests

# SQS — local (LocalStack)
SQS_QUEUE_URL=http://localhost:4566/000000000000/order-requests
